:root {
    --red: #AD0017; /* Darkened #f00021 to be AAA contrast compliant with the offwhite #fafafa */
    --green: #006115; /* Darkened #00f032 for AAA contrast */
    --blue: #0026F0;
    --offwhite: #fafafa;
    --lightgray: #eaeaea;
    --lighterblack: #111111;
}

body {
    margin: 0 0;
    text-align: center;
    background-color: var(--offwhite);;
    color: var(--lighterblack);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    top: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: var(--green);
    color: var(--offwhite);
    z-index: 1;
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

nav {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

nav a {
    padding: 0 20px;
}

main {
    position: relative;
}

section {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

p {
    padding: 0 40px;
}

section:nth-child(even) {
    background-color: var(--lightgray);
}

footer {
    position: relative;
    padding: 12px 0;
    width: 100%;
    background-color: var(--green);
    color: var(--offwhite);
}

a {
    color: var(--lighterblack);
    text-decoration: none;
}
a:visited {
    color: var(--lighterblack);
    text-decoration: none;
}

nav a {
    color: var(--offwhite);
    text-decoration: none;
}

nav a:visited {
    color: var(--offwhite);
    text-decoration: none;
}

#mission {
    display: flex;
}

.missionblurb {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

#mission p {
    text-align: left;
}

#mission img {
    padding: 20px;
    object-fit: cover;
    border-radius: 48px;
}

#quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    color: var(--offwhite);
    text-shadow: 2px 2px var(--lighterblack);
    background-color: transparent;
}

#quote q {
    font-size: 20px;
}

#quote p {
    font-size: 20px;
}

.quoteblock {
    position: relative;
    padding: 100px 10px 40px 10px;
}

#links {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    height: 200px;
}

#links a {
    background-color: var(--green);
    padding: 20px;
    border-radius: 10px;
    color: var(--offwhite);
    margin-top: auto;
    margin-bottom: auto;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#doboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.dobox {
    background-color: var(--offwhite);
    width: 30%;
    border-radius: 24px;
    margin: 0 0 8px 0;
}

.dobox li {
    text-align: left;
}

.dobox img {
    max-width: 100%;
    border-radius: 24px 24px 0 0;
}

@media (max-width: 768px), (orientation: portrait) {
    header {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
        padding: 0px;
    }
    #mission {
        flex-direction: column;
    }
    #doboxes {
        flex-direction: column;
    }
    .dobox {
        width: 80%;
    }
}