:root {
    --red: #AD0017; /* Darkened #f00021 to be AAA contrast compliant with the darkerwhite #fafafa */
    --green: #006115; /* Darkened #00f032 for AAA contrast */
    --blue: #0026F0;
    --darkerwhite: #fafafa;
    --lightgray: #eaeaea;
    --lighterblack: #111111;
}

body {
    margin: 0 0;
    text-align: center;
    background-color: var(--darkerwhite);;
    color: var(--lighterblack);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    top: 0;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    background-color: var(--green);
    color: var(--darkerwhite);
    z-index: 1;
}

header h1 {
    padding: 8px 40px;
}

header nav {
    padding: 8px 40px;
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

nav {
    padding: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

main {
    position: relative;
}

section {
    position: relative;
    width: 100%;
    padding: 20px 0;
}

p {
    padding: 0 80px;
}

section:nth-child(odd) {
    background-color: var(--lightgray);
}

footer {
    position: relative;
    padding: 12px 0;
    width: 100%;
    background-color: var(--green);
    color: var(--darkerwhite);
}

a {
    color: var(--lighterblack);
    text-decoration: none;
}
a:visited {
    color: var(--lighterblack);
    text-decoration: none;
}

nav a {
    color: var(--darkerwhite);
    text-decoration: none;
    padding: 0 20px;
}

nav a:visited {
    color: var(--darkerwhite);
    text-decoration: none;
}

#mission {
    display: flex;
}

.missionblurb {
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
}

#mission p {
    text-align: left;
}

#mission img {
    padding: 20px;
    object-fit: cover;
    border-radius: 48px;
}

#quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    color: var(--darkerwhite);
    text-shadow: 2px 2px var(--lighterblack);
    background-color: transparent;
}

#quote q {
    font-size: 20px;
}

#quote p {
    font-size: 20px;
}

.quoteblock {
    position: relative;
    padding: 100px 10px 40px 10px;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#doboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.dobox {
    background-color: var(--darkerwhite);
    width: 30%;
    border-radius: 24px;
    padding: 0 0 28px 0;
    margin: 0 0 8px 0;
}

.dobox a {
    position: relative;
    background-color: var(--green);
    padding: 20px;
    border-radius: 10px;
    color: var(--darkerwhite);
}

.dobox p {
    padding: 0px 10px 20px;
}

.dobox img {
    max-width: 100%;
    border-radius: 24px 24px 0 0;
}

.mobileonly {
    display: none;
}

#menubutton {
    padding: 5px 20px;
    background-color: var(--green);
    border-style: solid;
    border-color: var(--darkerwhite);
    color: var(--darkerwhite);
    font-size: 24px;
    border-radius: 8px;
}

li {
    text-align: left;
}

ul {
    padding: 0 80px;
}

@media (max-width: 768px), (orientation: portrait) {
    header {
        flex-direction: column;
    }
    h1 {
        font-size: 20px;
        padding: 0px;
    }
    #mission {
        flex-direction: column;
    }
    #doboxes {
        flex-direction: column;
    }
    .dobox {
        width: 80%;
    }
    .mobileclosed {
        display: none;
    }
    .mobileonly {
        display: block;
    }
}

@media (min-width: 769px), (orientation: landscape) {

    .dropdown {
        margin: 0;
        position: relative;
    }

    .dropdown-content {
        display: none;
        z-index: 2;
        position: absolute;
        top: -4px;
        left: 0;
        background-color: var(--darkerwhite);
    }

    .dropdown-content a {
        padding: 4px 10px;
        color: var(--lighterblack);
        background-color: var(--darkerwhite);
        border: 1px solid var(--lightgray);
    }
    .dropdown-content a:visited {
        padding: 10px;
        margin: 10px;
        color: var(--lighterblack);
    }

    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
    }
}